<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bliss</title>
    <link rel="icon" type="image/x-icon" href="/static/logo/favicon.ico">
    <script src="https://kit.fontawesome.com/a268eb4fa1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="/static/content.css">
</head>
<body>
    <div class="main">
        <div class="main-top">
            <div class="design-top-bar">
                <div class="top-bar-left">
                    <div class="go-back-opt">
                      <a href="{% url 'home' %}">
                        <span class="material-symbols-outlined">
                            home
                            </span>
                      </a>
                      <span>Home</span>
                    </div>
                    <div class="table-content-opt">
                        <div class="table-content-icon">
                            <span class="material-symbols-outlined">
                                view_list
                                </span>
                            <span>View</span>    
                        </div>
                    </div>
                    <div class="zoom-opt">
                        <div class="zoom-opt-icon">
                            <div class="zoom-icon-conatiner">
                                <div class="actual-zoom-div">
                                    <div class="zoom-count"><span class="lol">100%</span></div>
                                    <div class="zoom-list-icon">
                                        <span class="material-symbols-outlined lol-icon">
                                            expand_more
                                            </span>
                                    </div>
                                </div>
                            </div>
                            <div class="zoom-text"><span>Zoom</span></div>
                        </div>
                        <div class="onclick-zoom-opt">
                            <div class="design-zoom-opt-list">
                             <div class="hover-zoom-opt">
                                <div class="check-icon"><span class="material-symbols-outlined">
                                    check
                                    </span></div>
                                <div class="zoom-percent"><span>25%</span></div>
                             </div>
                             <div class="hover-zoom-opt">
                                <div class="check-icon"><span class="material-symbols-outlined">
                                    check
                                    </span></div>
                                <div class="zoom-percent"><span>50%</span></div>
                             </div>
                             <div class="hover-zoom-opt">
                                <div class="check-icon"><span class="material-symbols-outlined">
                                    check
                                    </span></div>
                                <div class="zoom-percent"><span>75%</span></div>
                             </div>
                             <div class="hover-zoom-opt">
                                <div class="check-icon activezoom"><span class="material-symbols-outlined">
                                    check
                                    </span></div>
                                <div class="zoom-percent"><span>100%</span></div>
                             </div>
                             <div class="hover-zoom-opt">
                                <div class="check-icon"><span class="material-symbols-outlined">
                                    check
                                    </span></div>
                                <div class="zoom-percent"><span>125%</span></div>
                             </div>
                             <div class="hover-zoom-opt">
                                <div class="check-icon"><span class="material-symbols-outlined">
                                    check
                                    </span></div>
                                <div class="zoom-percent"><span>150%</span></div>
                             </div>
                             <div class="hover-zoom-opt">
                                <div class="check-icon"><span class="material-symbols-outlined">
                                    check
                                    </span></div>
                                <div class="zoom-percent"><span>200%</span></div>
                             </div>
                             <div class="hover-zoom-opt">
                                <div class="check-icon"><span class="material-symbols-outlined">
                                    check
                                    </span></div>
                                <div class="zoom-percent"><span>300%</span></div>
                             </div>
                             <div class="horz-borderline"></div>
                             <div class="hover-zoom-opt">
                                <div class="check-icon"><span class="material-symbols-outlined">
                                    check
                                    </span></div>
                                <div class="zoom-percent"><span>Fit Width</span></div>
                             </div>
                            </div>
                        </div>
                    </div>
                
                </div>
                <div class="top-bar-middle"><span>Username -</span>&nbsp;<span>Have a good diet plan</span></div>
                <div class="top-bar-right">
                    <div class="customize-opt">
                        <span class="material-symbols-outlined">
                            edit_note
                            </span>
                            <span>Edit</span>
                    </div>
                    <div class="mode-opt">
                        <div class="mode-outer">
                            <div class="sliding-div"></div>
                            <div class="hider"></div>
                        </div>
                        <span>Mode</span>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="main-bottom">
            <div class="bottom-left"></div>
            <div class="bottom-middle"></div>
            <div class="bottom-right"></div>
        </div>
    </div>
</body>
<script src="/static/content.js" type="text/javascript"></script>
</html>