{% extends "mindfullbase.html" %}
{% block content %}
<div class="innerright ">
    <div class="rightcontentlabel"><span>Dashboard</span></div>
    <div class="dashboardcontent">
        <div class="dashcards progress">
            <div class="progresslabel"><span>Progress</span></div>
            <div class="prgresscontent">
                <div class="pcicon">
                    <span class="material-symbols-outlined">
                        directions_run
                    </span>
                </div>
                <div class="pcright">
                    <div class="pcrightlabel"><span>Relieve</span></div>
                    <div class="pcrightdown">
                        <span class="material-symbols-outlined pcdownicon">
                            schedule
                        </span>
                        <span class="pcdowntext">20 days</span>
                        <span class="material-symbols-outlined pcdownicon">
                            star
                        </span>
                        <span class="pcdowntext">150+ </span>
                    </div>
                </div>

            </div>
            <div class="prgresscontent">
                <div class="pcicon">
                    <span class="material-symbols-outlined">
                        headphones
                    </span>
                </div>
                <div class="pcright">
                    <div class="pcrightlabel"><span>Restore</span></div>
                    <div class="pcrightdown">
                        <span class="material-symbols-outlined pcdownicon">
                            schedule
                        </span>
                        <span class="pcdowntext">25 days</span>
                        <span class="material-symbols-outlined pcdownicon">
                            star
                        </span>
                        <span class="pcdowntext">300+ </span>
                    </div>
                </div>

            </div>
            <div class="prgresscontent">
                <div class="pcicon">
                    <span class="material-symbols-outlined">
                        fitness_center
                    </span>
                </div>
                <div class="pcright">
                    <div class="pcrightlabel"><span>Revatilize</span></div>
                    <div class="pcrightdown">
                        <span class="material-symbols-outlined pcdownicon">
                            schedule
                        </span>
                        <span class="pcdowntext">30 days</span>
                        <span class="material-symbols-outlined pcdownicon">
                            star
                        </span>
                        <span class="pcdowntext">500+ </span>
                    </div>
                </div>

            </div>
            <div class="prgresscontent">
                <div class="pcicon">
                    <span class="material-symbols-outlined">
                        sports_score
                    </span>
                </div>
                <div class="pcright">
                    <div class="pcrightlabel"><span>Retain</span></div>
                    <div class="pcrightdown">
                        <span class="material-symbols-outlined pcdownicon">
                            schedule
                        </span>
                        <span class="pcdowntext">35 days</span>
                        <span class="material-symbols-outlined pcdownicon">
                            star
                        </span>
                        <span class="pcdowntext">400+ </span>
                    </div>
                </div>

            </div>

        </div>
        <div class="dashcards vcard"
            style="  background-image: url('/static/web images/47f7329e706c1ca131623320443e3e38.jpg');">
            <a href="/workout/" style="height: 100%; width: 100%; display: flex; flex-direction: column; justify-content: space-between; text-decoration: none; z-index: 1;">
            <div class="vcardtop">
                <div class="vcardtime">
                    <span>3</span>
                    <span>Days</span>
                </div>
                <div class="vcardstr">
                    <span class="material-symbols-outlined">
                        star
                    </span>
                    <span>+20</span>
                </div>
            </div>
            <div class="vcardbottom">
                <div class="vcardplayicon">
                    <span class="material-symbols-outlined">
                        play_arrow
                    </span>
                </div>
            </div>
        </a>

        </div>
        <div class="dashcards vcard"
            style="background-image: url('/static/web images/f2dc5b650956c4cb3be49fb1af0399ef.jpg');">
            <a href="/subscribe/" style="height: 100%; width: 100%; display: flex; flex-direction: column; justify-content: space-between; text-decoration: none;  z-index: 1;">

            <div class="vcardtop">
                <div class="vcardtime">
                    <span>5</span>
                    <span>Days</span>
                </div>
                <div class="vcardstr">
                    <span class="material-symbols-outlined">
                        star
                    </span>
                    <span>+30</span>
                </div>
            </div>
            <div class="vcardbottom ">
                <div class="vcardplayicon locked">
                    <span class="material-symbols-outlined">
                        lock
                    </span>
                </div>
            </div>
            </a>
        </div>
        <div class="dashcards vcard"
            style="background-image: url('/static/web images/d314b509e28ffdab23e23ff9fce277c0.jpg');">
            <a href="/subscribe/" style="height: 100%; width: 100%; display: flex; flex-direction: column; justify-content: space-between; text-decoration: none; z-index: 1;">

            <div class="vcardtop">
                <div class="vcardtime">
                    <span>7</span>
                    <span>Days</span>
                </div>
                <div class="vcardstr">
                    <span class="material-symbols-outlined">
                        star
                    </span>
                    <span>+40</span>
                </div>
            </div>
            <div class="vcardbottom">
                <div class="vcardplayicon locked">
                    <span class="material-symbols-outlined ">
                        lock
                    </span>
                </div>
            </div>
            </a>
        </div>
        <div class="dashcards schedule">
            <div class="progresslabel"><span>Schedule</span></div>
            <div class="scheduleday">
                <div class="schdays" style="background-color: rgb(47, 186, 47);">
                    <span style="  color: white;">Mon</span>
                    <span class="material-symbols-outlined"
                        style="  color: rgb(47, 186, 47); background-color: white; ">
                        done
                    </span>
                </div>
                <div class="schdays" style="background-color: rgb(194, 71, 71);">
                    <span style="  color: white;">Tue</span>
                    <span class="material-symbols-outlined"
                        style="  color: rgb(194, 71, 71); background-color: white; ">
                        close
                    </span>
                </div>
                <div class="schdays" style="background-color: rgb(0, 64, 184);">
                    <span style="  color: white;">Wed</span>
                    <span class="material-symbols-outlined" style="  color: rgb(0, 64, 184); background-color: white; ">
                        schedule
                    </span>
                </div>
                <div class="schdays" style="background-color: white; border: 0.8px solid blue;">
                    <span style="  color: var(--oilblack);">Thu</span>
                    <span class="material-symbols-outlined" style="  color: var(--oilblack); background-color: white; ">
                        fiber_manual_record
                    </span>
                </div>
                <div class="schdays" style="background-color: white; border: 0.8px solid grey;">
                    <span style="  color: var(--oilblack);">Fri</span>
                    <span class="material-symbols-outlined" style="  color: var(--oilblack); background-color: white; ">
                        fiber_manual_record
                    </span>
                </div>
                <div class="schdays" style="background-color: white;border: 0.8px solid grey;">
                    <span style="  color: var(--oilblack);">Sat</span>
                    <span class="material-symbols-outlined" style="  color: var(--oilblack); background-color: white; ">
                        fiber_manual_record
                    </span>
                </div>
                <div class="schdays" style="background-color:white; border: 0.8px solid grey;">
                    <span style="  color: var(--oilblack);">Sun</span>
                    <span class="material-symbols-outlined" style="  color: var(--oilblack); background-color: white; ">
                        fiber_manual_record
                    </span>
                </div>
            </div>
            <div class="schedulechange">
                <div class="scchange">
                    <span class="material-symbols-outlined">
                        stylus
                    </span>
                    <span>Change</span>
                </div>
            </div>

        </div>
        <div class="dashcards kcal" onclick="kcahart()"
            style="background-image: url('/static/web images/Screenshot 2024-04-04 at 9.52.44 PM.png'); background-color: white;  background-size: 100% 100%; background-repeat: no-repeat;">
            <div class="vcardtop">
                <div class="vcardtime" style="background-color: rgba(214, 207, 194, 0.559); flex-direction: row;">
                    <span class="material-symbols-outlined">
                        bolt
                    </span>
                    <div class="vcardnumstep" style=" margin: 0 2px;">
                        <span style=" margin: 0;">450</span>
                        <span style=" margin: 0;">kcal</span>
                    </div>
                </div>

                <div class="vcardstr">

                    <span>Today</span>
                </div>
            </div>
        </div>
        <div class="dashcards steps" onclick="stepscrt()"
            style="background-image: url('/static/web images/Screenshot 2024-04-04 at 8.11.29 PM.png'); object-fit: fill; background-size: 100% 100%; background-repeat: no-repeat;">
            <div class="vcardtop">
                <div class="vcardtime" style="background-color: rgba(214, 207, 194, 0.559); flex-direction: row;">
                    <span class="material-symbols-outlined">
                        local_fire_department
                    </span>
                    <div class="vcardnumstep" style=" margin: 0 2px;">
                        <span style=" margin: 0;">7070</span>
                        <span style=" margin: 0;">steps</span>
                    </div>
                </div>

                <div class="vcardstr">

                    <span>Today</span>
                </div>
            </div>
        </div>
        <div class="dashcards" style=" background-color: rgb(43, 103, 215);">
            <div class="premiumlogo">
                <div class="plogo">
                    <img src="/static/web images/d67c8a1ad3f53288e71fd6633de70c11-removebg-preview.png" alt="">
                </div>
            </div>
            <div class="prinfo">
                <span>Get more functions</span>
                <span>with premium</span>
            </div>
            <div class="buy">
                <div class="buyicon">
                    <a href="/subscribe/" style="height: 100%;
                    width: 100%; display: flex; flex-direction: row; align-items: center; justify-content: center; text-decoration: none; color: inherit;" >
                    <span>+</span>
                    <span>Buy premium</span>
                </a>
                </div>
            </div>
        </div>
        <div class="myfriends">
            <div class="progresslabel"><span>My freinds</span></div>
            <div class="myfreindcon">
                <div class="freindcircleleft">
                    {% for profile in Userdetail %}
                    <div class="fcircle">
                        <img src="{{ profile.Profileimage.url }}" alt="">
                    </div>
                    {% endfor %}
                </div>
                <div class="frndmore"><span>+20</span></div>



            </div>

        </div>
   
        <div class="myfriends togglecardcon" style="background-color: rgb(187, 98, 189);">
            <div class="progresslabel"><span>My account</span></div>
            <div class="togglecard">
                <div class="toggleicon">
                    <span class="material-symbols-outlined">
                        arrow_right_alt
                    </span>
                </div>
            </div>

        </div>
        <div class="myfriends togglecardcon" style="background-color: rgb(189, 98, 118);">
            <div class="progresslabel"><span>Consultation</span></div>
            <div class="togglecard">
                <div class="toggleicon">
                    <span class="material-symbols-outlined">
                        arrow_right_alt
                    </span>
                </div>
            </div>

        </div>
        <div class="myfriends togglecardcon" style="background-color: rgb(96, 219, 155);">
            <div class="progresslabel"><span>My Coins </span></div>
            <div class="coindiv" style="height: 100%; width: 100%; display: flex; align-items: center; justify-content: center; flex-direction: row;" >
                <span style="font-size: 35px; color: whitesmoke; font-family: 'inter', sans-serif; font-weight: 500;">154</span>
                <span class="material-symbols-outlined" id="coin" style="font-size: 40px;">
                    monetization_on
                </span>


            </div>
          

        </div>

        


    </div>
    <div class="kcalchart">
        <section class="something">
            <div class="innerkchart">
                <canvas id="kcalchart"></canvas>
                <div class="belowcharthead">
                    <span>Calorie burn</span>
                    <span>314</span>
                    <span>Goal : 400</span>
                    <span>Change goal</span>
                    <div class="spenttimeanddist">
                        <span class="material-symbols-outlined">
                            schedule
                        </span>
                        <span>2 <span style="font-size: 16px;">H</span> 20 <span style="font-size: 16px;">M</span>
                        </span>
                        <span class="material-symbols-outlined">
                            location_on
                        </span>
                        <span>4 <span style="font-size: 16px;">KM</span></span>

                    </div>
                    <span>Set goal above 500 and acheive it to earn 5
                        <span class="material-symbols-outlined" id="coin">
                            monetization_on
                        </span>&nbsp;
                        daily !!</span>
                </div>

            </div>
        </section>
    </div>
    <div class="stepschart">
        <section class="something">
            <div class="innerstepschart">
                <canvas id="stepschart"></canvas>
                <div class="belowcharthead">
                    <span>Step count</span>
                    <span>7070</span>
                    <span>Goal : 8000</span>
                    <span>Change goal</span>
                    <div class="spenttimeanddist">
                        <span class="material-symbols-outlined">
                            schedule
                        </span>
                        <span>2 <span style="font-size: 16px;">H</span> 20 <span style="font-size: 16px;">M</span>
                        </span>
                        <span class="material-symbols-outlined">
                            location_on
                        </span>
                        <span>4 <span style="font-size: 16px;">KM</span></span>

                    </div>
                    <span>Set goal above 6000 and acheive it to earn 5
                        <span class="material-symbols-outlined" id="coin">
                            monetization_on
                        </span>&nbsp;
                        daily !!</span>
                </div>

            </div>
        </section>
    </div>
</div>
<script src="/static/kchart.js"></script>


{% endblock %}