<div class="editcontainer">
    <div class="drag">
        <div class="edithead">
            <div class="editheadleft">
                <div class="headlefttext">
                    <span class="material-symbols-outlined">
                        add_circle
                        </span>
                    <span>Format</span>    
                </div>
            </div>
            <div class="editheadright">
                <span class="material-symbols-outlined editclose">
                    close
                    </span>
            </div>
        </div>
        <div class="editoption">
            <div class="editoptionbuck bold">
                    <span class="material-symbols-outlined">
                        format_bold
                        </span>
                
            </div>
            <div class="editoptionbuck">
                <span class="material-symbols-outlined">
                    format_italic
                    </span>
            </div>
            <div class="editoptionbuck">
                <span class="material-symbols-outlined">
                    format_underlined
                    </span>
            </div>
            <div class="editoptionbuck">
                <span class="material-symbols-outlined">
                    ink_highlighter_move
                    </span>
            </div>
        </div>
        <div class="editoption" style="margin-top: 8px;">
            <div class="editoptionbuck">
                <span class="material-symbols-outlined">
                    format_align_left
                    </span>
                
            </div>
            <div class="editoptionbuck">
                <span class="material-symbols-outlined">
                    format_align_center
                    </span>
            </div>
            <div class="editoptionbuck">
                <span class="material-symbols-outlined">
                    format_align_right
                    </span>
            </div>
            <div class="editoptionbuck">
                <span class="material-symbols-outlined">
                    format_align_justify
                    </span>
            </div>
        </div>
        <div class="editoptioncolor">
            <div class="colorbuck white" ><span>A</span></div>
            <div class="colorbuck black" ><span>A</span></div>
            <div class="colorbuck blue" ><span>A</span></div>
            <div class="colorbuck green" ><span>A</span></div>
            <div class="colorbuck red" ><span>A</span></div>
            <div class="colorbuck orange" ><span>A</span></div>
            <div class="colorbuck yellow" ><span>A</span></div>
            <div class="colorbuck purple" ><span>A</span></div>
            <div class="colorbuck brown" ><span>A</span></div>
            <div class="colorbuck lightpink" ><span>A</span></div>
            <div class="colorbuck lightred" ><span>A</span></div>
            <div class="colorbuck purplebg" ><span>A</span></div>
            <div class="colorbuck blackbg" ><span>A</span></div>
            <div class="colorbuck greenbg" ><span>A</span></div>
            <div class="colorbuck yellowbg" ><span>A</span></div>
            <div class="colorbuck bluebg" ><span>A</span></div>
        </div>
        <div class="borderhorz"></div>
        <div class="editoption" style="margin-top: 0px;">
            <div class="fsizelabel">
                <span class="material-symbols-outlined">
                    format_size
                    </span>
                <span>Font size</span>
            </div>
            <div class="fsize-right">
                <div class="incdec">
                    <div class="incdecchild subtractfs">
                        <span class="material-symbols-outlined ">
                            remove
                            </span>
                    </div>
                    <div class="incdecchild">
                        <input type="number" id="editfontsize" maxlength="2" value="16">
                    </div>
                    <div class="incdecchild addfs">
                        <span class="material-symbols-outlined">
                            add
                            </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>