{% load static %}
<!-- <div class="innerright">
    <div class="rightcontentlabel"><span>Dashboard4</span></div>
</div>
<div class="innerright">
    <div class="rightcontentlabel"><span>Dashboard5</span></div>
</div> -->
</div>

</div>
<div class="onclickcourses">
    <div class="designcousres">
        <div class="innerdesigncourse">
            <div class="courseslabel">
                <span>Available courses</span>
                <span class="material-symbols-outlined closeonclickcourse">
                    close
                </span>
            </div>
            <div class="coursecontainer">

                <div class="card-type-2" style="background-image: url('https://i.ytimg.com/vi/3f1PNH6ZYfo/hqdefault.jpg?sqp=-oaymwEXCNACELwBSFryq4qpAwkIARUAAIhCGAE=&rs=AOn4CLCeRsRpHhReUw-pdnFEoZ97BjicGw');">

                    <div class="card-hover-div">
                        <div class="card-hover-image"
                            style="background-image: url('https://i.ytimg.com/vi/3f1PNH6ZYfo/hqdefault.jpg?sqp=-oaymwEXCNACELwBSFryq4qpAwkIARUAAIhCGAE=&rs=AOn4CLCeRsRpHhReUw-pdnFEoZ97BjicGw');">
                        </div>
                        <div class="card-hover-image-down">
                            <div class="btndiv">
                                <div class="read-btn-div">
                                    <button>
                                        <span>
                                            <span class="material-symbols-outlined">
                                                play_arrow
                                            </span>
                                            <span>Enroll Free</span>
                                        </span>
                                    </button>
                                </div>
                                <div class="add-btn-div">
                                    <span class="material-symbols-outlined">
                                        add
                                    </span>
                                </div>
                            </div>
                            <div class="info-div">

                                <span>2024</span>
                                <span class="info-dot-icon"><span class="material-symbols-outlined dots">
                                        fiber_manual_record
                                    </span></span>
                                <span>YogBela</span>
                                <span class="info-dot-icon"><span class="material-symbols-outlined dots">
                                        fiber_manual_record
                                    </span></span>
                                <span>English</span>
                            </div>
                            <div class="para-div">
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi harum
                                    similique</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-type-2" style="background-image: url('https://i.ytimg.com/vi/YBhMQ66GuFU/hqdefault.jpg?sqp=-oaymwEXCOADEI4CSFryq4qpAwkIARUAAIhCGAE=&rs=AOn4CLBj2vrc55qQCVJWIajlBliN-IxUUg');">
                    <div class="premiumcron" style="height: 32px; width: 32px; position: absolute; top: 10px; right: 10px; padding: 6px; border-radius: 50%; background-color: black; display: flex;
                    align-items: center; justify-content: center;"><img src="/static/web images/king_2545603.png" alt="" style="height: 100%; width: 100%; object-fit: cover; border-radius: 50%;"></div>
                    <div class="card-hover-div">
                        <div class="card-hover-image"
                            style="background-image: url('https://i.ytimg.com/vi/YBhMQ66GuFU/hqdefault.jpg?sqp=-oaymwEXCOADEI4CSFryq4qpAwkIARUAAIhCGAE=&rs=AOn4CLBj2vrc55qQCVJWIajlBliN-IxUUg');">
                        </div>
                        <div class="card-hover-image-down">
                            <div class="btndiv">
                                <div class="read-btn-div">
                                    <button>
                                        <span>
                                            <span class="material-symbols-outlined">
                                                play_arrow
                                            </span>
                                            <span>&#8377;&nbsp;250 + 50 </span>
                                            <span class="material-symbols-outlined" id="coin">
                                                monetization_on
                                            </span>
                                        </span>
                                    </button>
                                </div>
                                <div class="add-btn-div">
                                    <span class="material-symbols-outlined">
                                        add
                                    </span>
                                </div>
                            </div>
                            <div class="info-div">

                                <span>2024</span>
                                <span class="info-dot-icon"><span class="material-symbols-outlined dots">
                                        fiber_manual_record
                                    </span></span>
                                <span>Dr.Rakesh</span>
                                <span class="info-dot-icon"><span class="material-symbols-outlined dots">
                                        fiber_manual_record
                                    </span></span>
                                <span>English</span>
                            </div>
                            <div class="para-div">
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi harum
                                    similique</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-type-2" style="background-image: url('https://i.ytimg.com/vi/WmpBkU3qxmg/hqdefault.jpg?sqp=-oaymwEXCOADEI4CSFryq4qpAwkIARUAAIhCGAE=&rs=AOn4CLBPEnuvHf1T3CAw3yT5_clExMb6-A');">
                    <div class="card-hover-div">
                        <div class="card-hover-image"
                            style="background-image: url('/static/web images/mqdefault_6s.webp');">
                        </div>
                        <div class="card-hover-image-down">
                            <div class="btndiv">
                                <div class="read-btn-div">
                                    <button>
                                        <span>
                                            <span class="material-symbols-outlined">
                                                play_arrow
                                            </span>
                                            <span>Enroll</span>
                                        </span>
                                    </button>
                                </div>
                                <div class="add-btn-div">
                                    <span class="material-symbols-outlined">
                                        add
                                    </span>
                                </div>
                            </div>
                            <div class="info-div">

                                <span>2024</span>
                                <span class="info-dot-icon"><span class="material-symbols-outlined dots">
                                        fiber_manual_record
                                    </span></span>
                                <span>Dr.Rakesh</span>
                                <span class="info-dot-icon"><span class="material-symbols-outlined dots">
                                        fiber_manual_record
                                    </span></span>
                                <span>English</span>
                            </div>
                            <div class="para-div">
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi harum
                                    similique</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-type-2" style="background-image: url('https://i.ytimg.com/vi/YrBSeWwL2dw/hqdefault.jpg?sqp=-oaymwEXCOADEI4CSFryq4qpAwkIARUAAIhCGAE=&rs=AOn4CLCQbkSdgeUeWp3tsZD2m4tlAxTHKw');">
                    <div class="premiumcron" style="height: 32px; width: 32px; position: absolute; top: 10px; right: 10px; padding: 6px; border-radius: 50%; background-color: black; display: flex;
                    align-items: center; justify-content: center;"><img src="/static/web images/king_2545603.png" alt="" style="height: 100%; width: 100%; object-fit: cover; border-radius: 50%;"></div>
                    <div class="card-hover-div">
                        <div class="card-hover-image"
                            style="background-image: url('/static/web images/mqdefault_6s.webp');">
                        </div>
                        <div class="card-hover-image-down">
                            <div class="btndiv">
                                <div class="read-btn-div">
                                    <button>
                                        <span>
                                            <span class="material-symbols-outlined">
                                                play_arrow
                                            </span>
                                            <span>Enroll</span>
                                        </span>
                                    </button>
                                </div>
                                <div class="add-btn-div">
                                    <span class="material-symbols-outlined">
                                        add
                                    </span>
                                </div>
                            </div>
                            <div class="info-div">

                                <span>2024</span>
                                <span class="info-dot-icon"><span class="material-symbols-outlined dots">
                                        fiber_manual_record
                                    </span></span>
                                <span>Dr.Rakesh</span>
                                <span class="info-dot-icon"><span class="material-symbols-outlined dots">
                                        fiber_manual_record
                                    </span></span>
                                <span>English</span>
                            </div>
                            <div class="para-div">
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi harum
                                    similique</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-type-2" style="background-image: url('https://i.ytimg.com/vi/2_tJ5N-xSUA/hqdefault.jpg?sqp=-oaymwEXCOADEI4CSFryq4qpAwkIARUAAIhCGAE=&rs=AOn4CLBLl5h2FIgHeBikOsjJ2hWN-GZluA');">
                    <div class="card-hover-div">
                        <div class="card-hover-image"
                            style="background-image: url('/static/web images/mqdefault_6s.webp');">
                        </div>
                        <div class="card-hover-image-down">
                            <div class="btndiv">
                                <div class="read-btn-div">
                                    <button>
                                        <span>
                                            <span class="material-symbols-outlined">
                                                play_arrow
                                            </span>
                                            <span>Enroll</span>
                                        </span>
                                    </button>
                                </div>
                                <div class="add-btn-div">
                                    <span class="material-symbols-outlined">
                                        add
                                    </span>
                                </div>
                            </div>
                            <div class="info-div">

                                <span>2024</span>
                                <span class="info-dot-icon"><span class="material-symbols-outlined dots">
                                        fiber_manual_record
                                    </span></span>
                                <span>Dr.Rakesh</span>
                                <span class="info-dot-icon"><span class="material-symbols-outlined dots">
                                        fiber_manual_record
                                    </span></span>
                                <span>English</span>
                            </div>
                            <div class="para-div">
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi harum
                                    similique</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-type-2" style="background-image: url('https://i.ytimg.com/vi/jwHjOsL3O68/hqdefault.jpg?sqp=-oaymwEXCOADEI4CSFryq4qpAwkIARUAAIhCGAE=&rs=AOn4CLD7shPCjxnxBkjWaPNlfRJhx2GYIg');">
                    <div class="card-hover-div">
                        <div class="card-hover-image"
                            style="background-image: url('/static/web images/mqdefault_6s.webp');">
                        </div>
                        <div class="card-hover-image-down">
                            <div class="btndiv">
                                <div class="read-btn-div">
                                    <button>
                                        <span>
                                            <span class="material-symbols-outlined">
                                                play_arrow
                                            </span>
                                            <span>Enroll</span>
                                        </span>
                                    </button>
                                </div>
                                <div class="add-btn-div">
                                    <span class="material-symbols-outlined">
                                        add
                                    </span>
                                </div>
                            </div>
                            <div class="info-div">

                                <span>2024</span>
                                <span class="info-dot-icon"><span class="material-symbols-outlined dots">
                                        fiber_manual_record
                                    </span></span>
                                <span>Dr.Rakesh</span>
                                <span class="info-dot-icon"><span class="material-symbols-outlined dots">
                                        fiber_manual_record
                                    </span></span>
                                <span>English</span>
                            </div>
                            <div class="para-div">
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi harum
                                    similique</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-type-2" style="background-image: url('https://i.ytimg.com/vi/5hAyARqHo_U/hqdefault.jpg?sqp=-oaymwEXCOADEI4CSFryq4qpAwkIARUAAIhCGAE=&rs=AOn4CLBRUKFM_-DJBH6wKYla3TVIx8pHIA');">
                    <div class="card-hover-div">
                        <div class="card-hover-image"
                            style="background-image: url('/static/web images/mqdefault_6s.webp');">
                        </div>
                        <div class="card-hover-image-down">
                            <div class="btndiv">
                                <div class="read-btn-div">
                                    <button>
                                        <span>
                                            <span class="material-symbols-outlined">
                                                play_arrow
                                            </span>
                                            <span>Enroll</span>
                                        </span>
                                    </button>
                                </div>
                                <div class="add-btn-div">
                                    <span class="material-symbols-outlined">
                                        add
                                    </span>
                                </div>
                            </div>
                            <div class="info-div">

                                <span>2024</span>
                                <span class="info-dot-icon"><span class="material-symbols-outlined dots">
                                        fiber_manual_record
                                    </span></span>
                                <span>Dr.Rakesh</span>
                                <span class="info-dot-icon"><span class="material-symbols-outlined dots">
                                        fiber_manual_record
                                    </span></span>
                                <span>English</span>
                            </div>
                            <div class="para-div">
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi harum
                                    similique</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-type-2" style="background-image: url('https://i.ytimg.com/vi/apvgmeRkqQw/hqdefault.jpg?sqp=-oaymwEXCOADEI4CSFryq4qpAwkIARUAAIhCGAE=&rs=AOn4CLAs9NS295lvhSXwQdhuXDHvXYAk8g');">
                    <div class="premiumcron" style="height: 32px; width: 32px; position: absolute; top: 10px; right: 10px; padding: 6px; border-radius: 50%; background-color: black; display: flex;
                    align-items: center; justify-content: center;"><img src="/static/web images/king_2545603.png" alt="" style="height: 100%; width: 100%; object-fit: cover; border-radius: 50%;"></div>
                    <div class="card-hover-div">
                        <div class="card-hover-image"
                            style="background-image: url('/static/web images/mqdefault_6s.webp');">
                        </div>
                        <div class="card-hover-image-down">
                            <div class="btndiv">
                                <div class="read-btn-div">
                                    <button>
                                        <span>
                                            <span class="material-symbols-outlined">
                                                play_arrow
                                            </span>
                                            <span>Enroll</span>
                                        </span>
                                    </button>
                                </div>
                                <div class="add-btn-div">
                                    <span class="material-symbols-outlined">
                                        add
                                    </span>
                                </div>
                            </div>
                            <div class="info-div">

                                <span>2024</span>
                                <span class="info-dot-icon"><span class="material-symbols-outlined dots">
                                        fiber_manual_record
                                    </span></span>
                                <span>Dr.Rakesh</span>
                                <span class="info-dot-icon"><span class="material-symbols-outlined dots">
                                        fiber_manual_record
                                    </span></span>
                                <span>English</span>
                            </div>
                            <div class="para-div">
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi harum
                                    similique</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-type-2" style="background-image: url('https://i.ytimg.com/vi/ymagvsi3SwQ/hqdefault.jpg?sqp=-oaymwEXCOADEI4CSFryq4qpAwkIARUAAIhCGAE=&rs=AOn4CLBcoTyIc1z6HMepfW-cJQzSVviz6w');">
                    <div class="premiumcron" style="height: 32px; width: 32px; position: absolute; top: 10px; right: 10px; padding: 6px; border-radius: 50%; background-color: black; display: flex;
                    align-items: center; justify-content: center;"><img src="/static/web images/king_2545603.png" alt="" style="height: 100%; width: 100%; object-fit: cover; border-radius: 50%;"></div>
                    <div class="card-hover-div">
                        <div class="card-hover-image"
                            style="background-image: url('/static/web images/mqdefault_6s.webp');">
                        </div>
                        <div class="card-hover-image-down">
                            <div class="btndiv">
                                <div class="read-btn-div">
                                    <button>
                                        <span>
                                            <span class="material-symbols-outlined">
                                                play_arrow
                                            </span>
                                            <span>Enroll</span>
                                        </span>
                                    </button>
                                </div>
                                <div class="add-btn-div">
                                    <span class="material-symbols-outlined">
                                        add
                                    </span>
                                </div>
                            </div>
                            <div class="info-div">

                                <span>2024</span>
                                <span class="info-dot-icon"><span class="material-symbols-outlined dots">
                                        fiber_manual_record
                                    </span></span>
                                <span>Dr.Rakesh</span>
                                <span class="info-dot-icon"><span class="material-symbols-outlined dots">
                                        fiber_manual_record
                                    </span></span>
                                <span>English</span>
                            </div>
                            <div class="para-div">
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi harum
                                    similique</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-type-2" style="background-image: url('https://i.ytimg.com/vi/o20sLxinfwc/hqdefault.jpg?sqp=-oaymwEXCOADEI4CSFryq4qpAwkIARUAAIhCGAE=&rs=AOn4CLBHcz-BgG5MmwKcztSc122CzUJjWA');">
                    <div class="card-hover-div">
                        <div class="card-hover-image"
                            style="background-image: url('/static/web images/mqdefault_6s.webp');">
                        </div>
                        <div class="card-hover-image-down">
                            <div class="btndiv">
                                <div class="read-btn-div">
                                    <button>
                                        <span>
                                            <span class="material-symbols-outlined">
                                                play_arrow
                                            </span>
                                            <span>Enroll</span>
                                        </span>
                                    </button>
                                </div>
                                <div class="add-btn-div">
                                    <span class="material-symbols-outlined">
                                        add
                                    </span>
                                </div>
                            </div>
                            <div class="info-div">

                                <span>2024</span>
                                <span class="info-dot-icon"><span class="material-symbols-outlined dots">
                                        fiber_manual_record
                                    </span></span>
                                <span>Dr.Rakesh</span>
                                <span class="info-dot-icon"><span class="material-symbols-outlined dots">
                                        fiber_manual_record
                                    </span></span>
                                <span>English</span>
                            </div>
                            <div class="para-div">
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi harum
                                    similique</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-type-2" style="background-image: url('https://i.ytimg.com/vi/bjU4pXWclP4/hqdefault.jpg?sqp=-oaymwEXCOADEI4CSFryq4qpAwkIARUAAIhCGAE=&rs=AOn4CLDlJuGCbpTcBdeVQ7OcIWwx1SluhQ');">
                    <div class="card-hover-div">
                        <div class="card-hover-image"
                            style="background-image: url('/static/web images/mqdefault_6s.webp');">
                        </div>
                        <div class="card-hover-image-down">
                            <div class="btndiv">
                                <div class="read-btn-div">
                                    <button>
                                        <span>
                                            <span class="material-symbols-outlined">
                                                play_arrow
                                            </span>
                                            <span>Enroll</span>
                                        </span>
                                    </button>
                                </div>
                                <div class="add-btn-div">
                                    <span class="material-symbols-outlined">
                                        add
                                    </span>
                                </div>
                            </div>
                            <div class="info-div">

                                <span>2024</span>
                                <span class="info-dot-icon"><span class="material-symbols-outlined dots">
                                        fiber_manual_record
                                    </span></span>
                                <span>Dr.Rakesh</span>
                                <span class="info-dot-icon"><span class="material-symbols-outlined dots">
                                        fiber_manual_record
                                    </span></span>
                                <span>English</span>
                            </div>
                            <div class="para-div">
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi harum
                                    similique</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="allcourses">
    <span>Courses</span>
</div>

</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
    integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>

    const allcourses = document.querySelector(".allcourses");
    const stars = document.querySelectorAll(".stars");
    if(stars){
    stars.forEach((item, index) => {
        item.addEventListener("click", () => {
            stars.forEach(content => {
                content.classList.remove("fill");
            })
            var i;
            for (i = 0; i <= index; i++) {
                stars[i].classList.add("fill");
            }

        })
    })
}
    const closeonclickcourse = document.querySelector(".closeonclickcourse");
    const onclickcourses = document.querySelector(".onclickcourses");
    const innerdesigncourse = document.querySelector(".innerdesigncourse");
    if(allcourses){
    allcourses.addEventListener("click", () => {
        const t1 = gsap.timeline();
        t1.to(onclickcourses, {
            duration: 0.01,
            opacity: 1,
            visibility: 'visible'
        })
            .to(onclickcourses, {
                duration: 0,
                display: 'flex', // Set display to block immediately after opacity animation completes
                onComplete: () => {
                    gsap.set(onclickcourses, { display: 'flex' }); // Ensure display is set to block after animation completes
                }
            })

            .from(innerdesigncourse, {
                duration: 0.4,
                y: window.innerHeight,
                ease: "power2.out",
                onComplete: () => {
                    innerdesigncourse.style.visibility = 'visible';
                }
            });
    });
    }
    closeonclickcourse.addEventListener("click", () => {
        const tl = gsap.timeline();
        gsap.to(innerdesigncourse, {
            duration: 0.4,
            y: 0,
            ease: "power2.in",
            visibility: "hidden",
            onComplete: () => {
                innerdesigncourse.style.visibility = 'inherit';
                innerdesigncourse.style.rotate = "inherit";
                innerdesigncourse.style.scale = "inherit";
                innerdesigncourse.style.scale = "inherit";
                innerdesigncourse.style.transform = "inherit";
                innerdesigncourse.style.translate = "inherit";
            }
        })
        gsap.to(onclickcourses, {
            opacity: 0,
            visibility: 'hidden',
            display: 'none'
        });
    });


    const day = document.querySelectorAll(".day")
    const toggledaynumber = document.querySelector(".toggledaynumber")
    const exercisevideos = document.querySelectorAll(".exercisevideos")
    const enrolday = document.querySelector(".enrolday");
    const currentDate = new Date();
    const currentYear = currentDate.getFullYear();
    const monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
        "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
    const currentMonthIndex = currentDate.getMonth();
    const currentMonthAbbreviation = monthNames[currentMonthIndex];
    const currentDay = currentDate.getDate();
    const excessday = document.querySelector(".excessday");
    const Coinstatus = document.querySelector(".Coinstatus");
    const coinday = document.querySelector(".coinday");
    const coin = document.querySelector("#coin");

    if (enrolday) {
        document.addEventListener("DOMContentLoaded", () => {
            const courseenroll = enrolday.textContent.split(" ")[0]
            let index;
            if(currentDay<courseenroll){
                index = (30 - courseenroll) + currentDay;
            }
            else{
                index = currentDay - courseenroll;
            }
            toggledaynumber.textContent = "Day" + " " + (index + 1);
            if(exercisevideos[index]){
            exercisevideos[index].classList.add("showvid");
        }
            day[index].classList.add("highlightoday");
            if(day[index].classList.contains("incomplete")){
                console.log("here")
                Coinstatus.textContent = "You have missed out but still you can win 5"
            }
            else if(day[index].classList.contains("complete")){
                console.log("else")
                Coinstatus.textContent = "You have succesfully earned 10"
            }
            else{
                Coinstatus.textContent = "You can earned 10"

            }

        })
    }
  if(day){
    day.forEach((item, index) => {
        item.addEventListener("click", () => {
            day.forEach(content => {
                content.classList.remove("highlightoday");
            })
            exercisevideos.forEach(content => {
                content.classList.remove("showvid");
            })
            exercisevideos[index].classList.add("showvid");
            item.classList.add("highlightoday");
            toggledaynumber.textContent = "Day" + " " + (index + 1);
            console.log(day[index])
            if(day[index].classList.contains("incomplete")){
                console.log("here")
                Coinstatus.textContent = "You have missed out but still you can win 5"
            }
            else if(day[index].classList.contains("complete")){
                console.log("else")
                Coinstatus.textContent = "You have succesfully earned 10"
            }
            else{
                Coinstatus.textContent = "You can earned 10"

            }
            coinday.textContent = "for Day" + " "+ (index + 1);
            var courseenroll = enrolday.textContent.split(" ")[0]
            let diffnum;
            if(currentDay<courseenroll){
                diffnum = (30 - courseenroll) + currentDay;
            }
            else{
                diffnum = currentDay - courseenroll;
            }
            if ((index) > diffnum) {
                gsap.from(excessday, {
                    y: 20,
                })
                gsap.to(excessday, {
                    duration: 0.4,
                    opacity: 1,

                    visibility: 'visible',
                    display: 'flex',
                    onComplete: () => {
                        gsap.set(excessday, { display: 'flex' });
                    }
                })
            }
            else {
                gsap.to(excessday, {
                    duration: 0.4,
                    opacity: 0,
                    visibility: 'hidden',
                    display: 'none',
                    onComplete: () => {
                        gsap.set(excessday, { display: 'none' });
                    }
                })
            }

        })
    })
}
    const excesshidebtn = document.querySelector(".excesshidebtn");
    if (excesshidebtn) {
        excesshidebtn.addEventListener("click", () => {
            gsap.to(excessday, {
                duration: 0.2,
                opacity: 0,
                visibility: 'hidden',
                display: 'none',
            })
        })
    }
    const timer = document.querySelector("#timer");
    const timeoptselect = document.querySelector("#timeoptselect");
    if(timeoptselect){
    const opttimeoptselect = timeoptselect.getElementsByTagName("option");
}
    const minutes = document.getElementById('minutes')
    const seconds = document.getElementById('seconds')
    const startstop = document.querySelector(".startstop");
    let timerInterval;
    let timeInSeconds = 120;
    if (timer) {
        timeoptselect.addEventListener("change", function () {
            minutes.textContent = this.value;
            seconds.textContent = "00";
            timeInSeconds = this.value * 60;
            if (startstop.textContent.trim() === 'Pause') {
                startstop.textContent = "Start";
                clearInterval(timerInterval);

            }
        });

        function updateTimer() {

            let minutes = Math.floor(timeInSeconds / 60);
            let seconds = timeInSeconds % 60;
            document.getElementById('minutes').textContent = minutes.toString().padStart(2, '0');
            document.getElementById('seconds').textContent = seconds.toString().padStart(2, '0');
            timeInSeconds--;

            if (timeInSeconds < 0) {
                clearInterval(timerInterval);
                alert("Time's up!");
            }
        }

        timer.addEventListener("click", () => {
            if (startstop.textContent.trim() === 'Start') {
                startstop.textContent = "Pause";
                timerInterval = setInterval(updateTimer, 1000);
            } else {
                startstop.textContent = "Start";
                clearInterval(timerInterval);
            }
        });
    }
    const togglemedimg = document.querySelectorAll(".togglemedimg");
    const medimg = document.querySelectorAll(".medimg");
    const picdesc = document.querySelectorAll(".picdesc");
    if(togglemedimg){
    togglemedimg.forEach((item, index) => {
        item.addEventListener("click", () => {
            let currentImageIndex = Array.from(medimg).findIndex(img => img.classList.contains("showimg"));
            medimg[currentImageIndex].classList.remove("showimg");
            if (index === 1 && currentImageIndex < medimg.length - 1) {
                medimg[currentImageIndex + 1].classList.add("showimg");
                togglemedimg[0].style.display = "flex";
                if (currentImageIndex === medimg.length - 2) {
                    togglemedimg[1].style.display = "none";
                }
            } else if (index === 0 && currentImageIndex > 0) {
                medimg[currentImageIndex - 1].classList.add("showimg");

                togglemedimg[1].style.display = "flex";
                if (currentImageIndex === 1) {
                    togglemedimg[0].style.display = "none";
                }
            }
        });
    });
}
    const bgplay = document.querySelectorAll(".bgplay")
    const bgaudio = document.querySelectorAll(".bgaudio")
    const changeplaybtn = document.querySelectorAll(".changeplaybtn")
if(bgplay){
    bgplay.forEach((item, index) => {
        item.addEventListener("click", () => {
            bgaudio.forEach(content => {
                content.currentTime = 0;
            })
            changeplaybtn.forEach(content => {
                content.textContent = "play_arrow";
            })
            if (bgaudio[index].paused) {
                bgaudio[index].play(); 
                changeplaybtn[index].textContent = "pause";

            } else {
                bgaudio[index].pause(); 
                changeplaybtn[index].textContent = "play_arrow";
            }
        })
    })

}
 const kcal = document.querySelector(".kcal");
 const kcalchart = document.querySelector(".kcalchart");
 const kcalchartmain = document.querySelector(".innerkchart");
 kcal.addEventListener("click", ()=>{
    var t1 = gsap.timeline();
    t1.to(kcalchart, {
        duration: 0.1,
        opacity:1,
        visibility : 'visible',
        display: 'flex',
    })
    .to(kcalchartmain,{
        duration:0.4,
        opacity:1,
        visibility : 'visible',
        scaleX: 1,
        scaleY: 1,
    });

     
 })

kcalchart.addEventListener("click", function(event){
    if((event.target.classList.contains("kcalchart")) || event.target.classList.contains("innerkchart")){
        console.log(event.target.classList)
    var t1 = gsap.timeline();
    
    t1.to(kcalchartmain,{
        duration:0.2,
        scaleX: 0.6,
        scaleY: 0.6,
 
    })
    .to(kcalchart, {
        duration: 0,
        display: 'none',
        opacity:0,
        visibility : 'hidden',
        
       
    })
}
})

const steps = document.querySelector(".steps");
 const stepschart = document.querySelector(".stepschart");
 const stepschartmain = document.querySelector(".innerstepschart");
 steps.addEventListener("click", ()=>{
    var t1 = gsap.timeline();
    t1.to(stepschart, {
        duration: 0.1,
        opacity:1,
        visibility : 'visible',
        display: 'flex',
    })
    .to(stepschartmain,{
        duration:0.4,
        opacity:1,
        visibility : 'visible',
        scaleX: 1,
        scaleY: 1,
    });

     
 })

 stepschart.addEventListener("click",  function(event){
    if((event.target.classList.contains("innerstepschart")) || event.target.classList.contains("stepschart")){
    var t1 = gsap.timeline();
    
    t1.to(stepschartmain,{
        duration:0.2,
        scaleX: 0.6,
        scaleY: 0.6,
 
    })
    .to(stepschart, {
        duration: 0,
       
        opacity:0,
        display: 'none',
        visibility : 'hidden',
        ease: "power1.out"
        
       
    })

}
})




</script>

</html>