{% extends "mindfullbase.html" %}
{% block content %}
<div class="innerright showright">
    <div class="rightcontentlabel"><span>Workout</span></div>
    <div class="exercisecontent">
        <div class="ecleft">
            <div class="contentvideo">
                <div class="excessday">
                    <div class="designexcessday">
                        <div class="excessdayhead">
                            <span>Ugh Ahh!! , You are up to date</span>

                        </div>
                        <div class="excessdayhead2">
                            Give yourself some rest and continue tomorrow
                        </div>
                        <div class="restimg">
                            <img src="/static/web images/early-morning-concept-illustration_114360-7352.avif" alt="">
                        </div>
                        <div class="excessdayhead2">
                            Still want to push yourself?
                        </div>
                        <div class="excesshidebtn">Unlock</div>
                    </div>
                </div>
                <iframe class="exercisevideos" width="100%" height="100%"
                    src="https://www.youtube.com/embed/KrY2Kv_BYKo?si=mytrJVknotOSaAey" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <iframe class="exercisevideos" height="100%" width="100%"
                    src="https://www.youtube.com/embed/q3tuPuCl4AU?si=Ke76UrUg5wEQ_EYI" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <iframe class="exercisevideos" width="100%" height="100%"
                    src="https://www.youtube.com/embed/WPyq-4j9xG4?si=i8__8Q2-qsw7hfLV" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <iframe class="exercisevideos" width="100%" height="100%"
                    src="https://www.youtube.com/embed/B0-XXKyiFoU?si=8Fd8slZMkFR2_Rfe" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <iframe class="exercisevideos" width="100%" height="100%"
                    src="https://www.youtube.com/embed/dy3KGwvLDYQ?si=xjo6aXEjFAf_t4cs" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    <iframe class="exercisevideos" width="100%" height="100%" src="https://www.youtube.com/embed/1n9xu1eQZqI?si=ruh_HkqJ9gptWCsz" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> 
                    <iframe  class="exercisevideos" width="100%" height="100%" src="https://www.youtube.com/embed/-zj1xL8N93M?si=MkSDqD2K_gZmiX0s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    <iframe  class="exercisevideos" width="100%" height="100%" src="https://www.youtube.com/embed/Jgji741YA-c?si=CI9YnPwcQswn7aQn" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    <iframe  class="exercisevideos" width="100%" height="100%" src="https://www.youtube.com/embed/aWhrOWcbYIo?si=vYjCJgJKCnMkT-oG" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    <iframe  class="exercisevideos" width="100%" height="100%" src="https://www.youtube.com/embed/-AT6IimNI_g?si=n4u9jYKfDdZnTp7i" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>    
            </div>
            <div class="belowvcontent">
                <div class="belowcontenthead">
                    <span>Daily Workout</span>
                    <span class="material-symbols-outlined">
                        go_to_line
                    </span>
                    <span class="toggledaynumber">Day 1</span>
                </div>
                <div class="enrolleddate">
                    <span>Enrolled -</span>&nbsp;
                    <span class="enrolday">7 April</span>


                </div>
                <div class="dayscroll">
                    <div class="dayscrollchild">
                        <div class="day complete">
                            <span>Day 1</span>
                            <span class="material-symbols-outlined complete">
                                task_alt
                            </span>
                        </div>
                    </div>
                    <div class="dayscrollchild">
                        <div class="day incomplete">
                            <span>Day 2</span>
                            <span class="material-symbols-outlined incomplete">
                                cancel
                            </span>
                        </div>
                    </div>
                    <div class="dayscrollchild">
                        <div class="day">
                            <span>Day 3</span>

                        </div>
                    </div>
                    <div class="dayscrollchild">
                        <div class="day">
                            <span>Day 4</span>

                        </div>
                    </div>
                    <div class="dayscrollchild">
                        <div class="day">
                            <span>Day 5</span>

                        </div>
                    </div>
                    <div class="dayscrollchild">
                        <div class="day">
                            <span>Day 6</span>

                        </div>
                    </div>
                    <div class="dayscrollchild">
                        <div class="day">
                            <span>Day 7</span>

                        </div>
                    </div>
                    <div class="dayscrollchild">
                        <div class="day">
                            <span>Day 8</span>

                        </div>
                    </div>
                    <div class="dayscrollchild">
                        <div class="day">
                            <span>Day 9</span>

                        </div>
                    </div>
                    <div class="dayscrollchild">
                        <div class="day">
                            <span>Day 10</span>

                        </div>
                    </div>

                </div>
                <div class="enrolleddate">
                    <span class="Coinstatus">You have succesfully earned 10 </span>
                    <span class="material-symbols-outlined" id="coin">
                        monetization_on
                    </span>&nbsp;
                    <span class="coinday">for Day 1</span>
                </div>
                <div class="contentoverviewlabel"> <span>Progress - (Time spending)</span></div>
                <div class="medchart">
                    <canvas id="linechart"></canvas>
                    <script>

                        const data = {
                            labels: ['Day 1', 'Day 2', 'Day 3', 'Day 4', 'Day 5', 'Day 6'],
                            datasets: [
                                {
                                    label: 'Time',
                                    data: [15, 0, 20, 40, 38, 22, 31],
                                    borderColor: 'rgb(75, 192, 192)',
                                    backgroundColor: 'rgba(75, 192, 192, 0.5)',
                                    pointStyle: 'circle',
                                    pointRadius: 10,
                                    pointHoverRadius: 15
                                }
                            ]
                        };
                        const config = {
                            type: 'line',
                            data: data,
                            options: {
                                responsive: true,
                                plugins: {

                                    tooltip: {
                                        enabled: true,
                                        backgroundColor: '#6D7E8C',
                                        bodyFontSize: 100,
                                    },
                                    legend: {
                                        position: "bottom",
                                        align: "center",
                                        labels: {
                                            font: {
                                                size: 16

                                            },
                                            color: "#44B78B",
                                        }

                                    },



                                },
                                scales: {
                                    y: {
                                        ticks: {

                                            color: 'green',
                                            font: {
                                                size: 16
                                            }


                                        },
                                        grid: {
                                            color: 'white',
                                            lineWidth: 0.2,

                                        }
                                    },
                                    x: {
                                        ticks: {

                                            color: 'green',
                                            font: {
                                                size: 16
                                            }


                                        },
                                        grid: {
                                            color: 'white',
                                            lineWidth: 0.2,

                                        }
                                    },

                                }


                            }
                        };

                        const actions = [
                            {
                                name: 'pointStyle: circle (default)',
                                handler: (chart) => {
                                    chart.data.datasets.forEach(dataset => {
                                        dataset.pointStyle = 'circle';
                                    });
                                    chart.update();
                                }
                            },
                            {
                                name: 'pointStyle: cross',
                                handler: (chart) => {
                                    chart.data.datasets.forEach(dataset => {
                                        dataset.pointStyle = 'cross';
                                    });
                                    chart.update();
                                }
                            },
                            {
                                name: 'pointStyle: crossRot',
                                handler: (chart) => {
                                    chart.data.datasets.forEach(dataset => {
                                        dataset.pointStyle = 'crossRot';
                                    });
                                    chart.update();
                                }
                            },
                            {
                                name: 'pointStyle: dash',
                                handler: (chart) => {
                                    chart.data.datasets.forEach(dataset => {
                                        dataset.pointStyle = 'dash';
                                    });
                                    chart.update();
                                }
                            },
                            {
                                name: 'pointStyle: line',
                                handler: (chart) => {
                                    chart.data.datasets.forEach(dataset => {
                                        dataset.pointStyle = 'line';
                                    });
                                    chart.update();
                                }
                            },
                            {
                                name: 'pointStyle: rect',
                                handler: (chart) => {
                                    chart.data.datasets.forEach(dataset => {
                                        dataset.pointStyle = 'rect';
                                    });
                                    chart.update();
                                }
                            },
                            {
                                name: 'pointStyle: rectRounded',
                                handler: (chart) => {
                                    chart.data.datasets.forEach(dataset => {
                                        dataset.pointStyle = 'rectRounded';
                                    });
                                    chart.update();
                                }
                            },
                            {
                                name: 'pointStyle: rectRot',
                                handler: (chart) => {
                                    chart.data.datasets.forEach(dataset => {
                                        dataset.pointStyle = 'rectRot';
                                    });
                                    chart.update();
                                }
                            },
                            {
                                name: 'pointStyle: star',
                                handler: (chart) => {
                                    chart.data.datasets.forEach(dataset => {
                                        dataset.pointStyle = 'star';
                                    });
                                    chart.update();
                                }
                            },
                            {
                                name: 'pointStyle: triangle',
                                handler: (chart) => {
                                    chart.data.datasets.forEach(dataset => {
                                        dataset.pointStyle = 'triangle';
                                    });
                                    chart.update();
                                }
                            },
                            {
                                name: 'pointStyle: false',
                                handler: (chart) => {
                                    chart.data.datasets.forEach(dataset => {
                                        dataset.pointStyle = false;
                                    });
                                    chart.update();
                                }
                            }
                        ];
                        const ctx = document.getElementById('linechart').getContext('2d');
                        const chart = new Chart(ctx, config);
                    </script>

                </div>
                <div class="contentoverviewlabel"> <span>Overview</span></div>
                <div class="overviewpara">
                    <p>Leg exercises are an essential component of any well-rounded fitness routine, targeting the muscles of the lower body to build strength, improve stability, and enhance overall athleticism. From squats to lunges to deadlifts, there are numerous exercises that target the quadriceps, hamstrings, glutes, calves, and other leg muscles. These exercises can be performed using body weight, resistance bands, free weights, or gym machines, providing a variety of options to suit different fitness levels and preferences.
                    </p>
                </div>
                <div class="contentoverviewlabel" style="color: var(--primary-accent);"> <span>Do's</span>
                </div>
                <div class="dodontlist">
                    <ul style="color: seagreen;">
                        <li>Warm-up Properly: Always start your leg workout with a thorough warm-up to increase blood flow to the muscles and prepare them for exercise. Dynamic stretches and light cardio can help loosen up the muscles and reduce the risk of injury.</li>
                        <li>Use Proper Form: Maintain proper form throughout each exercise to maximize effectiveness and minimize the risk of injury. Focus on controlled movements, keeping your core engaged, and aligning your joints correctly.</li>
                        <li>Start with Compound Movements: Begin your leg workout with compound exercises such as squats, lunges, and deadlifts, which target multiple muscle groups simultaneously. These exercises provide a strong foundation for building strength and muscle mass.</li>
                        <li>Progressively Overload: Gradually increase the intensity, weight, or repetitions of your leg exercises over time to continue challenging your muscles and promoting growth. Progressive overload is essential for making continued progress and avoiding plateaus.</li>
                    </ul>
                </div>
                <div class="contentoverviewlabel" style="color: red;"> <span>Dont's</span></div>
                <div class="dodontlist">
                    <ul style="color: brown;">
                        <li>Neglect Warm-up: Skipping the warm-up can increase the risk of injury and reduce performance during your leg workout. Always take the time to warm up properly before diving into intense exercises.</li>
                        <li>Use Excessive Weight: Avoid lifting heavier weights than you can handle with proper form. Using excessive weight can compromise your technique and increase the risk of strain or injury to your muscles and joints.</li>
                        <li>Ignore Pain: Listen to your body and pay attention to any signs of discomfort or pain during leg exercises. Stop immediately if you experience sharp pain, and consult a fitness professional or healthcare provider if necessary.</li>
                        <li>Rush Through Repetitions: Focus on quality over quantity when performing leg exercises. Avoid rushing through repetitions or using momentum to lift weights. Instead, maintain control and concentrate on engaging the target muscles throughout each movement.</li>
                    </ul>
                </div>
                <div class="contentoverviewlabel"> <span>Benfit's</span></div>
                <div class="overviewpara">
                    <p>
                        Incorporating leg exercises into your fitness routine offers a multitude of benefits for overall health and well-being. These exercises, which target major muscle groups such as the quadriceps, hamstrings, glutes, and calves, are essential for building strength and power in the lower body. Strengthening the legs not only increases muscle mass but also improves functional movement patterns, enhancing your ability to perform everyday activities with greater ease and efficiency. 
                    </p>
                </div>
                <div class="feedbackform">
                    <form action="" id="Formfeedback">
                        <div class="feedbacklabel">Share your feedback</div>
                        <div class="feedbackpara">
                            <p>Your review will help us improve our content and <br> make it user friendly
                                for more users</p>
                        </div>
                        <div class="rateexpereince">
                            <p>Rate expereince</p>
                        </div>
                        <div class="fbstars">
                            <div class="stars">
                                <span class="material-symbols-outlined">
                                    star
                                </span>
                            </div>
                            <div class="stars">
                                <span class="material-symbols-outlined">
                                    star
                                </span>
                            </div>
                            <div class="stars">
                                <span class="material-symbols-outlined">
                                    star
                                </span>
                            </div>
                            <div class="stars">
                                <span class="material-symbols-outlined">
                                    star
                                </span>
                            </div>
                            <div class="stars">
                                <span class="material-symbols-outlined">
                                    star
                                </span>
                            </div>
                        </div>
                        <div class="rateexpereince">
                            <p>Send your review(optional)</p>
                        </div>
                        <div class="feedbacktext">
                            <textarea name="" id="feedbacktextarea" placeholder="Enter your review"></textarea>
                        </div>
                        <div class="sendbtn"> <button type="submit">Send</button></div>

                    </form>
                </div>

            </div>
        </div>

        <div class="ecright">
            <div class="ecrigghthead"><span>My Enrolled</span></div>
            <div class="morecontents">
                <div class="morecontentchild">
                    <div class="mccleft">
                        <img src="https://i.ytimg.com/vi/KrY2Kv_BYKo/hqdefault.jpg?sqp=-oaymwEXCNACELwBSFryq4qpAwkIARUAAIhCGAE=&rs=AOn4CLDvMY15mKeH6J2sIaabODfcwCk-zw" alt="">
                    </div>
                    <div class="mccright">
                        <div class="mccrighthead"><span>10 day workout</span></div>
                        <div class="mcclentime">
                            <span class="material-symbols-outlined">
                                schedule
                            </span>
                            <span>1 hour</span>
                            <span class="material-symbols-outlined">
                                date_range
                            </span>
                            <span>10 days</span>
                        </div>

                    </div>
                </div>
                <div class="morecontentchild">
                    <div class="mccleft">
                        <img src="https://i.ytimg.com/vi/ZcQsi6JYgUQ/hqdefault.jpg?sqp=-oaymwEXCNACELwBSFryq4qpAwkIARUAAIhCGAE=&rs=AOn4CLB2xE-SE58nCu9S-cj6Yf-MQpqZng" alt="">
                    </div>
                    <div class="mccright">
                        <div class="mccrighthead"><span>Boxing for weight loss</span></div>
                        <div class="mcclentime">
                            <span class="material-symbols-outlined">
                                schedule
                            </span>
                            <span>2 hour</span>
                            <span class="material-symbols-outlined">
                                date_range
                            </span>
                            <span>15days</span>
                        </div>

                    </div>
                </div>
                <div class="morecontentchild">
                    <div class="mccleft">
                        <img src="/static/web images/hqdefault.jpg" alt="">
                    </div>
                    <div class="mccright">
                        <div class="mccrighthead"><span>Lower back pain</span></div>
                        <div class="mcclentime">
                            <span class="material-symbols-outlined">
                                schedule
                            </span>
                            <span>2 hour</span>
                            <span class="material-symbols-outlined">
                                date_range
                            </span>
                            <span>30 days</span>
                        </div>

                    </div>
                </div>
             
            </div>

            <div class="ecrigghthead"><span>Enroll now(free)</span></div>
            <div class="morecontents">
                <div class="morecontentchild">
                    <div class="mccleft">
                        <img src="https://i.ytimg.com/vi/LzJCVfyJSdw/hqdefault.jpg?sqp=-oaymwEXCNACELwBSFryq4qpAwkIARUAAIhCGAE=&rs=AOn4CLAdiKXTCpFgG3hFFk27DD-Joi8RGw" alt="">
                    </div>
                    <div class="mccright">
                        <div class="mccrighthead"><span>Fat burning workout</span></div>
                        <div class="mcclentime">
                            <span class="material-symbols-outlined">
                                schedule
                            </span>
                            <span>8 : 53</span>
                            <span class="material-symbols-outlined">
                                date_range
                            </span>
                            <span>1 day</span>
                        </div>

                    </div>
                </div>
                <div class="morecontentchild">
                    <div class="mccleft">
                        <img src="https://i.ytimg.com/vi/cOn35y1Y1Co/hqdefault.jpg?sqp=-oaymwEXCNACELwBSFryq4qpAwkIARUAAIhCGAE=&rs=AOn4CLCgA2cmHavLPjkJr12b0CDvBYok8w" alt="">
                    </div>
                    <div class="mccright">
                        <div class="mccrighthead"><span>19 min HIIT workout</span></div>
                        <div class="mcclentime">
                            <span class="material-symbols-outlined">
                                schedule
                            </span>
                            <span>19 : 31</span>
                            <span class="material-symbols-outlined">
                                date_range
                            </span>
                            <span>2 days</span>
                        </div>

                    </div>
                </div>
                <div class="morecontentchild">
                    <div class="mccleft">
                        <img src="https://i.ytimg.com/vi/hoi1KGEXeY4/hqdefault.jpg?sqp=-oaymwEXCNACELwBSFryq4qpAwkIARUAAIhCGAE=&rs=AOn4CLCPHQfsWBEG28PRTXIG8A0n8h1kOQ" alt="">
                    </div>
                    <div class="mccright">
                        <div class="mccrighthead"><span>Best senior workout</span></div>
                        <div class="mcclentime">
                            <span class="material-symbols-outlined">
                                schedule
                            </span>
                            <span>15 : 00 </span>
                            <span class="material-symbols-outlined">
                                date_range
                            </span>
                            <span>30 days</span>
                        </div>

                    </div>
                </div>
                <div class="morecontentchild">
                    <div class="mccleft">
                        <img src="https://i.ytimg.com/vi/yQBQxZOyIXI/hqdefault.jpg?sqp=-oaymwEcCNACELwBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLD53R1wuuMdmJR1Y9UYiscaW7BzCA" alt="">
                    </div>
                    <div class="mccright">
                        <div class="mccrighthead"><span>Knee strengthing</span></div>
                        <div class="mcclentime">
                            <span class="material-symbols-outlined">
                                schedule
                            </span>
                            <span>23 : 16</span>
                            <span class="material-symbols-outlined">
                                date_range
                            </span>
                            <span>15 days</span>
                        </div>

                    </div>
                </div>
               
            </div>
            <div class="ecrigghthead"><span>Paid courses</span></div>
            <div class="morecontents">
                <div class="morecontentchild">
                    <div class="mccleft">
                        <img src="https://i.ytimg.com/vi/5WmadPRnRg8/hqdefault.jpg?sqp=-oaymwEcCNACELwBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLB8WJ5y-4vgNR2rYs0OXzY6RkmUZA" alt="">
                    </div>
                    <div class="mccright">
                        <div class="mccrighthead"><span>Remove back pain</span></div>
                        <div class="mcclentime">
                            <span class="material-symbols-outlined">
                                schedule
                            </span>
                            <span>11 : 35</span>
                            <span class="material-symbols-outlined">
                                date_range
                            </span>
                            <span>10 days</span>
                        </div>

                    </div>
                </div>
                <div class="morecontentchild">
                    <div class="mccleft">
                        <img src="https://i.ytimg.com/vi/Ll01h5xT0jg/hqdefault.jpg?sqp=-oaymwEcCNACELwBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLBXz2j80SZT12cBLzva_NSV680qKw" alt="">
                    </div>
                    <div class="mccright">
                        <div class="mccrighthead"><span>Best posture exercise </span></div>
                        <div class="mcclentime">
                            <span class="material-symbols-outlined">
                                schedule
                            </span>
                            <span>18 : 09</span>
                            <span class="material-symbols-outlined">
                                date_range
                            </span>
                            <span>30 days</span>
                        </div>

                    </div>
                </div>
                <div class="morecontentchild">
                    <div class="mccleft">
                        <img src="https://i.ytimg.com/vi/v3qn8Xv9GxI/hqdefault.jpg?sqp=-oaymwEcCNACELwBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLDtsXPCM7cdY4RAsrAI0f51JOpCuw" alt="">
                    </div>
                    <div class="mccright">
                        <div class="mccrighthead"><span>Fix posture</span></div>
                        <div class="mcclentime">
                            <span class="material-symbols-outlined">
                                schedule
                            </span>
                            <span>14 : 32</span>
                            <span class="material-symbols-outlined">
                                date_range
                            </span>
                            <span>20 days</span>
                        </div>

                    </div>
                </div>
                <div class="morecontentchild">
                    <div class="mccleft">
                        <img src="https://i.ytimg.com/vi/s_f3KdEpDCw/hqdefault.jpg?sqp=-oaymwEcCNACELwBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLBoWp8Jyt2vfU5rQIK4AV3pMhDIJg" alt="">
                    </div>
                    <div class="mccright">
                        <div class="mccrighthead"><span>11 Elite exercise</span></div>
                        <div class="mcclentime">
                            <span class="material-symbols-outlined">
                                schedule
                            </span>
                            <span>12 : 56</span>
                            <span class="material-symbols-outlined">
                                date_range
                            </span>
                            <span>11 days</span>
                        </div>

                    </div>
                </div>
                <div class="morecontentchild">
                    <div class="mccleft">
                        <img src="/static/web images/hqdefault.jpg" alt="">
                    </div>
                    <div class="mccright">
                        <div class="mccrighthead"><span>Lower back pain</span></div>
                        <div class="mcclentime">
                            <span class="material-symbols-outlined">
                                schedule
                            </span>
                            <span>Len</span>
                            <span class="material-symbols-outlined">
                                date_range
                            </span>
                            <span>30days</span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}